

/*----------------------common-------------------------*/
*{ margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;}
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
img{ border:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
li{ list-style-type:none;}
.ofh{overflow:hidden;}
.center{ text-align:center;}
.em{ text-indent:2em;}
body{ }

/*----------------------con-------------------------*/
.con{ width:1000px; padding:50px; height:auto; min-height:500px; margin:10px auto;background:url(../images/bj.jpg) top center repeat-y; }
/*----------------head-----------------*/
.head{ width:1000px; height:auto; margin:auto;}
.logo{ width:250px; height:auto; float:left;}
.logo h1{ font-size:36px; line-height:60px; color:#111;}
.logo h1 a{ font-size:36px; line-height:60px; color:#111;}
.lianxi_lxd{ width:100px; height:auto; margin:10px auto; float:right; }


/*----------------main-----------------*/
.main{ width:1000px; height:auto; margin:10px auto; font-size:14px; line-height:24px; color:#555;}



.title{ width:260px; height:auto; margin:10px auto; margin-top:100px; padding-left:90px;}
.title h2{ float:left;font-size:28px; line-height:46px; color:#fff; text-align:center; font-family:Arial, Helvetica, sans-serif}
.title h3{ padding-left:10px; float:left;font-size:28px; line-height:46px; color:#333; text-align:center; font-family:Arial, Helvetica, sans-serif}


.info{ width:360px; height:auto; margin:10px; float:right; margin-top:-250px;}
.info p{font-size:12px; line-height:24px; color:#555;}


/*----------------------con-------------------------*/
.ARTWORD{ width:1000px; padding:50px; height:auto; min-height:500px; margin:10px auto;background:#fafafa; }


.gallery_box{ width:1000px; height:auto; margin:auto; margin-top:20px;}
.gallery_box li img{ border:3px solid #fff;}
.gallery_box li img:hover{ border:3px solid #000;}


.Photo_list{ width:1000px; height:auto; margin:auto;}
.Photo_list ul{}
.Photo_list li{ width:210px; height:200px; float:left; margin:20px; }
.Photo_list li img{ width:210px; height:200px;}
.Photo_list li:hover{}
.Photo_list p{ font-size:18px; color:#5f7b5f; line-height:30px; font-family:Microsoft YaHei;}










